QLabel { 
    border: 2px solid black; 
    background-color: rgb(145, 161, 248);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    color: black ; 
}

QPushButton { 
    background-color:  rgb(72, 96, 218);
    border: 2px solid black; 
    color: black; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
    border-radius: 10px;
}

QPushButton:hover {
    background-color: rgb(54, 71, 165);

}